$pos: absolute;
$taille: 100%;
$size: 24px;
$orange: #FF6B00;
$blue: #130A4D;
$white: #ffffff;
$radius: 125px;
$lineaire: linear-gradient(to right, $orange 15%, #f9d423 100%);
$radius_infos: 69% 31% 54% 46% / 0% 100% 0% 100%;
