@import '../sass/variables';
@import '../sass/cards';
*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    background: white;
    height: 100vh;
    color: white;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    

}

//MENU

// BOUTON MENU FERMÉ (source Le Designer du Web, youtube)
.container-menu{
    position: absolute;
    right: 20px;
    top: 20px;
}
.btn-circle{
    background: linear-gradient(to right, $orange 15%, #f9d423 100%);
    display: block;
    width: 90px;
    height: 90px;
    border: 2px solid white;
    border-radius: 50%;
    position: relative;
    z-index: 15;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.line{
    width: 50%;
    height: 3px;
    background: #fff;
    transition: 
    transform 0.2s ease,
    opacity 0.2s  ease,
    top 0.2s ease 0.2s;
    position: relative;
    }
.line:nth-child(1){ //création du bouton menu avec trois traits, premier trait
    top: -10px;
}
.line:nth-child(3){ // deuxième trait
    top: 10px;
}

// BOUTON MENU ANIMATION 
.btn-circle.menu-anim .line:nth-child(1){ 
    top: 3px;
    transform: rotate(45deg);
    transition: 
    top 0.2 ease,
    transform 0.2 ease 0.2s; // animation en croix.
}
.btn-circle.menu-anim .line:nth-child(2){
    opacity: 0;
    transition: 
    opacity 0.2 ease;// animation en croix.
}

.btn-circle.menu-anim .line:nth-child(3){
    top: -3px;
    transform: rotate(-45deg);
    transition: 
    top 0.2 ease,
    transform 0.2 ease 0.2s; // animation en croix.
}
// GRAND CERCLE
.circle-menu{
    background: #ff8800f8;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 90px solid rgba(255, 196, 0, 0.486);
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); //pas d'animation pour le cercle
    transition: transform 0.4s ease 0.5s;
}

.circle-anim{
    transition: transform 0.4s ease 0.4s;
    transform: translate(-50%, -50%) scale(1); //animation : apparition du grand cercle
}

.links-circle{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-circle img{
    width: 60px;
    transition: transform 0.2s ease;
}

.links-circle img:hover{
    transform: scale(1.2);
}

.links-circle:nth-child(1){
    left: 0%;
    top: 46%;
    transition: transform 0.2s ease 0.4s;
}
.links-circle:nth-child(2){
    left: 3%;
    top: 67%;
    transition: transform 0.2s ease 0.2s;
}
.links-circle:nth-child(3){
    left: 15%;
    top: 85%;
    transition: transform 0.2s ease;
}
.links-circle:nth-child(4){
    left: 33%;
    top: 97%;
    transition: transform 0.2s ease;
}
.links-circle:nth-child(5){
    left: 55%;
    top: 100%;
    transition: transform 0.2s ease;
}

.circle-menu.circle-anim .links-circle:nth-child(1){
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.2 ease 0.7s;
}
.circle-menu.circle-anim .links-circle:nth-child(2){
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.2 ease 0.9s;
}
.circle-menu.circle-anim .links-circle:nth-child(3){
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.2 ease 1.1s;
}
.circle-menu.circle-anim .links-circle:nth-child(4){
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.2 ease 1.3s;
}
.circle-menu.circle-anim .links-circle:nth-child(5){
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.2 ease 1.5s;
}

// TEXTUEL
.container_1{
    display: flex;
    justify-content: center;
    align-items: center;

    .annonce{
        position: absolute;
        padding: 1rem 2rem;
        top: 10%;
        background: $lineaire;
        border-radius: $radius_infos;
        width: 50%;
        height: 28%;
        text-align: center;
        p{
            width: 90%;
            text-overflow: ellipsis;
            padding-left: 1.5rem;
            margin: 5%;
        }
    }
}

// HISTOIRE 
.container_2{
    display: flex;
    justify-content: center;
}
.histoire{
position: absolute;
margin-right: auto;
margin-left: auto;
padding: 1.5rem 2rem 0 rem;
top: 53%;
background: $lineaire;
border-radius: $radius_infos;
height: 35%;
text-align: center;
    p{
        width: 80%;
        padding-top: 1rem;
        padding-left: 11rem;
        margin: 1%;
    }
}

//TARIFS
.tarifs{
    display: flex;
    flex-flow: row wrap;
    font-size: 18px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 5%;
    top: 99%;
    max-width: 90%;
}
    
.billet, .speciaux, .abonnement, .livret {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding: 1rem 3rem;
    background:linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    border-radius:69% 31% 54% 46% / 0% 100% 0% 100%;
    width: 50%;
    text-align: center;
    overflow: hidden;
    display: inline-block;

}
.famille, .coulisse, .livret{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding: 1rem;
    background:linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    border-radius:69% 31% 54% 46% / 0% 100% 0% 100%;
    width: 50%;
    text-align: center;
    overflow: hidden;
    display: inline-block;
}

//ANIMAUX
.container_3{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 160%;

}

.card{
    background: $lineaire;
    border-radius: 85px;
    width: 600px;
    height: 750px;
    margin: 18px;
    color: white;
}
.card-image{
    height: 300px;
    width: 300px;
    clip-path: circle();
    margin-top: 20px;
    margin-left: 155px;
    margin-bottom: 15px;
    align-items: center;
}

.card h2{
    text-align: center;
}
.card p{
text-align: center;
}

.card h4{
    text-align: center;
    padding-top: 20px;
    color: black;
}
//PLAN ET HORAIRES
.container_4{
    display: flex;
    flex-flow: column wrap;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    margin-top: 5000px;
 }
iframe{
    position: relative;
    max-width: 85%;
    align-self: center;
}

#horaires{
    display: flex;
    flex-flow: row wrap;
    font-size: 18px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: relative;

}
.heures{
    margin: 30px;
    padding-top: 2rem;
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);;
    border-radius: $radius;
    width: 100%;
    height: 400px;
    text-align: center;
    overflow: hidden;
    display: inline-block;
}

        //FOOTER
footer {
    background:#4facfe;
    li{
    display: inline-block;
    a{
        color: white;
        padding: 10px 50px;
        }
    }
}
a:hover{
    color: black;
}

//RESPONSIVE
@media screen and(max-width: 780px){
    .btn-circle{
        width: 50px;
        height: 50px;
        bottom: 10px;
        left: 70px;
    }
}